:80 {
 
    handle_path /api/* {
        reverse_proxy portainer:9000
    }

    handle_path /jwtserver/* {
        uri strip_prefix /jwtserver
        reverse_proxy node:3000
    }

 

    handle_path /testeu/* {
        uri strip_prefix /testeu
        reverse_proxy rpcnode-user:8545
    }

   
    handle_path /testa/* {
        uri strip_prefix /testa
         reverse_proxy  rpcnode-admin:8545
    }

    handle_path /user/* {
        uri strip_prefix /user
        header +Authorization "Bearer TOKEN"
        reverse_proxy rpcnode-user:8545
    }

    handle_path /blockchainadmin/* {
       uri strip_prefix /blockchainadmin
        header +Authorization "Bearer TOKEN"
        reverse_proxy rpcnode-admin:8547
    }

}
 