:80 {

    handle_path /api/* {
        reverse_proxy portainer:9000
    }

    handle_path /jwtserver/* {
        reverse_proxy node:3000
    }

    handle_path /blockchain/* {
        header +Authorization "Bearer TOKEN"
        reverse_proxy rpcnode:8545
    }

    handle_path /blockchainadmin/* {
        header +Authorization "Bearer TOKEN"
        reverse_proxy rpcnode:8547
    }

}
 